In [23]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plot
import math
import scipy
import scipy.stats
import csv

In [8]:
file = pd.read_csv("Iris.csv")
del file['Id']

In [9]:
file

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
file.corr()

               SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
SepalLengthCm       1.000000     -0.109369       0.871754      0.817954
SepalWidthCm       -0.109369      1.000000      -0.420516     -0.356544
PetalLengthCm       0.871754     -0.420516       1.000000      0.962757
PetalWidthCm        0.817954     -0.356544       0.962757      1.000000

In [12]:
del file['PetalLengthCm']

In [18]:
file['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [31]:
query1 = file.loc[file['Species']=='Iris-versicolor']

In [32]:
del query1['Species']

In [33]:
query1.to_numpy()

array([[7. , 3.2, 1.4],
       [6.4, 3.2, 1.5],
       [6.9, 3.1, 1.5],
       [5.5, 2.3, 1.3],
       [6.5, 2.8, 1.5],
       [5.7, 2.8, 1.3],
       [6.3, 3.3, 1.6],
       [4.9, 2.4, 1. ],
       [6.6, 2.9, 1.3],
       [5.2, 2.7, 1.4],
       [5. , 2. , 1. ],
       [5.9, 3. , 1.5],
       [6. , 2.2, 1. ],
       [6.1, 2.9, 1.4],
       [5.6, 2.9, 1.3],
       [6.7, 3.1, 1.4],
       [5.6, 3. , 1.5],
       [5.8, 2.7, 1. ],
       [6.2, 2.2, 1.5],
       [5.6, 2.5, 1.1],
       [5.9, 3.2, 1.8],
       [6.1, 2.8, 1.3],
       [6.3, 2.5, 1.5],
       [6.1, 2.8, 1.2],
       [6.4, 2.9, 1.3],
       [6.6, 3. , 1.4],
       [6.8, 2.8, 1.4],
       [6.7, 3. , 1.7],
       [6. , 2.9, 1.5],
       [5.7, 2.6, 1. ],
       [5.5, 2.4, 1.1],
       [5.5, 2.4, 1. ],
       [5.8, 2.7, 1.2],
       [6. , 2.7, 1.6],
       [5.4, 3. , 1.5],
       [6. , 3.4, 1.6],
       [6.7, 3.1, 1.5],
       [6.3, 2.3, 1.3],
       [5.6, 3. , 1.3],
       [5.5, 2.5, 1.3],
       [5.5, 2.6, 1.2],
       [6.1, 3. , 1.4],
       [5.8, 2.6, 1.2],
       [5. , 2.3, 1. ],
       [5.6, 2.7, 1.3],
       [5.7, 3. , 1.2],
       [5.7, 2.9, 1.3],
       [6.2, 2.9, 1.3],
       [5.1, 2.5, 1.1],
       [5.7, 2.8, 1.3]])